.demo div {
  font-size: 20px;
  font-family: sans-serif;
}

.demo {
  .content--max,
  .content--partial,
  .content--min {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;

    background: #666;
    text-align: center;

    & > div {
      color: #fff;
      background: #bbb;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}

.demo .label {
  @extend .content--min;
  @extend .container--padded;

  margin-top: 36px;
  margin-bottom: 36px;

  background: none;
  color: #333;
  text-align: center;
}
