.demo div {
  font-size: 20px;
  font-family: sans-serif;
}

.demo {
  .content--narrow,
  .content--dynamic,
  .content--wide {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;

    background: #bbb;
    text-align: center;

    & > div {
      color: #fff;
      background: #666;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}

.demo .label {
  @extend .content--narrow;
  @extend .container--pad;

  margin-top: 36px;
  margin-bottom: 36px;

  background: none;
  color: #333;
  text-align: center;
}
