// what we consider the breakpoints for screen width
$screen-xs-min: 0px;    // portrait phones and anything smaller
$screen-sm-min: 576px;  // landscape phones
$screen-md-min: 768px;  // tablets
$screen-lg-min: 992px;  // small laptops
$screen-xl-min: 1200px; // large laptops and desktops

$screen-xs-max: $screen-sm-min - 1px;
$screen-sm-max: $screen-md-min - 1px;
$screen-md-max: $screen-lg-min - 1px;
$screen-lg-max: $screen-xl-min - 1px;
// no maximum on screen width

// different paddings at different widths
$content-xs-padding: 16px;
$content-sm-padding: 24px;
$content-md-padding: 32px;
$content-lg-padding: 64px;
$content-xl-padding: 128px;

// maximum permittable content width
$content-max-width: 1280px;
$content-min-width: $content-max-width - (2 * $content-xl-padding)
